@charset "UTF-8"
/* iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px. */
*
*{
    margin: 0px;
    padding: 0px;
}
@media screen and (max-width: 480px){
    h2{
        font-size: 2em;
    }
    .conteudo > p{
        font-size: 1.2em;
        text-align: justify;
        padding-left: 10px;
    }
    #filme{
        margin-top: 20px;
        width: 500px;
        height: 300px;
        translate: 0% -50%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
#nome{
    height: 100px;
    width: 400px;
    background-size: contain;
    background-repeat: no-repeat;
}
a.menu{
    padding: 0px;
    font-size: 1em;
    margin-right: 10px;
}
#cabecalho{
    background-image: url(../imagens/1-p.png);
    height: 400px;
    background-position: left; 
}
h2{
    font-size: 2em;
}
.conteudo > p{
    font-size: 1.2em;
    text-align: justify;
    padding-left: 10px;
}
div.next{
    margin-left: 10px;
    margin-right: 0px;
    cursor: pointer;
}
div.next1{
    margin-top: 30%;
}
section{
    height: 400px;
}
#img2{
    background-image: url(../imagens/2-p.png);
    height: 400px;
    background-position: center;
}
.slider{
    height: 400px;
}

#img4{
    background-image: url(../imagens/4-p.png);
    height: 400px;
    background-position: right,center;
}

div#banner{
    background-image: url(../imagens/banner-p.png);
    background-position: center;
}
div#buy{
    height: 75px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
div#botao{
    margin-left: 60%;
}
#filme{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 50%;
    left: -40%;
    top: -20%;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    #filme{
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 70%;
        left: -40%;
        top: -80%;
    }
}
