@charset "UTF-8"
*

*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
html, body{
    margin: 0px;
}
#cabecalho{
    background-image: url(../imagens/1.png);
    width: 100%;
    height: 700px;
    box-shadow: inset 100px 2px 120px black;
}
#nome{
    background-image: url(../imagens/nome.png);
    height: 100px;
    width: 800px;
    backdrop-filter: blur(1px);
    position: absolute;
    left: 5%;
    top: 13.4%;
    opacity: 0%;
    transition: 3.5s;
}
div#logo{
    background-image: url(../imagens/logo-p.png);
    height: 40px;
    width: 90px;
    margin-top: 5px;
    margin-left: 10px;
    filter: invert(1);
}
nav ul li {
    display: inline-block; 
}
a.menu{
    text-decoration: none;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    padding: 20px;
    font-size: 1.1em;
    scroll-behavior: smooth;
}
div#itens{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(50px);
}
section{
    box-shadow: inset 100px 0px 150px black;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
div.info{
    height: 200px;
    width: 100%;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.02));
    box-shadow: 2px 0px 5px black;
    position: absolute;
}
.conteudo{
    color: white;
    height: 200px;
    margin: auto;
}
div.next{
    height: 50px;
    width: 50px;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: 100px;
    animation: jumping 1s linear infinite;
}
@keyframes jumping{
    from {transform: translateY(-10px);}
    50% {transform: translateY(0px);}
    to {transform: translateY(-10px);}
}
div.next1{
    margin-top: 450px;
}
div.next > span.material-symbols-outlined{
    font-size: 50px;
    color: white;
    cursor: pointer;
}
h2{
    margin: 5px;
    font-size: 2em;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    text-shadow: 2px 2px 2px black;
}
.conteudo > p{
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 2px black;
}

#img2{
    background-image: url(../imagens/2.png);
    height: 670px;
}
.slider{
    margin: 0px auto;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.slides{
    width: 300%;
    display: flex;
}
div.slide{
    position: relative;
    animation: slide 15s infinite ease-in-out;  
}
@keyframes slide {
    0%{left: 0px}
    20%{left: 0px;}
    40%{left: -1360px;}
    60%{left: -1360px;}
    70%{left: -2720px;} 
    90%{left: -2720px;}
    100%{left: 0px;}
    
}
#img4{
    background-image: url(../imagens/4.png);
    height: 670px;

}
#part5{
    height: 700px;
    width: 100%;
    background-color: white;
}
div#video{
    height: 500px;
    background-image: url(../imagens/back-video.png);
}
#filme{
    margin-top: 20px;
    width: 747px;
    height: 420px;
    translate: 40% 5%;
}
div#banner{
    background-image: url(../imagens/banner.png);
    height: 200px;
    padding-top: 20px;
}
div#buy {
    background-image: url(../imagens/logom.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 300px;
    margin-left: 60%;   
}
div#botao{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 200px;
    margin-left: 64%;
    border-radius: 0px 0px 18px 0px;
    border: 1px solid white;
}
div > p{
    color: white;
    font-size: 16pt;
    margin-top: 10px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}
div#botao:hover{
    box-shadow: 0px 0px 10px white;
}
nav#footer > ul , li{
    padding: 5px;
}
nav#footer > ul > li:hover{
    border: 1px solid white;
    scroll-behavior: smooth;
}
footer{
    height: 80px;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: black;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #ffffff;
}